extends ../layout

block content
  script(type="text/javascript").
    function authdel(id) {
      $.ajax({
        type : "GET",
        dataType : "json",
        url : "/auth/delete/"+id,
        success : function(res) {
          $("#lblmsg").html(res.dec).show();
          if (res.res)
            if (res.u)
              location.href = res.u;
            else
              location.href = "/auth";
        }
      });
    }
  include ../menu
  div(class="container")
    h2(style="float: left;") 权限列表
    p(style="position: relative; height: 36px;")
      a(href="/auth/add",style="position:absolute; margin-left:10px; bottom:6px;") 新权限 
      span(id="lblmsg", style="position:absolute; margin-left:80px; bottom:6px; color:red; display:none;") 
      
    table(class="table table-striped")
      tr
        th 权限ＩＤ
        th 权限名
        th 
      each auth in authlist
        tr
          td= auth.authID
          td= auth.authName 
          td 
            a(href='/auth/edit/'+auth._id) 修改
            =" | "
            a(href='#', onclick="javascript:authdel('#{auth._id}');return false;") 删除